

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
    }

    <div style="text-align:center">


        <h2>Confirmation</h2>
        <div class="col-md-offset-2 col-lg-8" style="background-color:lime; float:left">
            <p class="h3">
                Email was successfully sent!!
            </p>
            <p>
                @Html.ActionLink("<< Back to Index", "Index", "", new { @class = "btn btn-info" })
            </p>
        </div>
    </div>

    <div class="clearfix"></div>
    </div>