@model YothingoSprint1.Models.
    @{
        ViewBag.Title = "Email";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Email</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <h4>Yothingo Cold Room Installation</h4>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayName("Email To:")
                </dt>

                <dd>
                    @Html.TextBox("email", "", new { @class = "form-control" })
                    <br />
                    <input type="submit" value="Send Email>>" class="btn btn-primary" />
                </dd>


            </dl>
        </div>
        <p>


        </p>
    }