
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>
        Order No: {id}
    </h1>

    <h3><b>Supplier Name: </b> {name}</h3>
    <h3><b>Date of Order: </b> {date}</h3>



    <br />
    <table>
        <thead>


            <tr>
                <th>
                    Part ID
                </th>
                <th>
                    Item
                </th>
                <th>
                    Quantity
                </th>
            </tr>

        </thead>
        <tbody>
            {tbody}
        </tbody>

    </table>
</body>
</html>


