@*
    This partial controls the top menu of the AdminLTE Template, being called automatically by _AdminLteLayout
       TODO: All of the content in here is stand-in that must be replaced by the real behavior of your app
*@

@{
    ViewBag.Layout = null;
}

<header class="main-header">
    <!-- Logo -->

    <p class="site-title">
        <a href="@Url.Action("Index", "Home")" style="display:block; padding:4px ">
            <img width="110" height="80" src="~/Images/yothingolog.jpg" alt="" />
        </a>
    </p>    <!-- Header Navbar: style can be found in header.less -->
    @*<nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->

            </ul>
        </div>
    </nav>*@
</header>