@model IList<YothingoSprint1.Models.ProjectItem>


    <h2>Add Parts</h2>
    <div class="container">
        <table id="itemEditorTable" class="table table-bordered">
            <thead>
                <tr class="form-inline">
                    <th class="control-label col-md-3 text-center">Part</th>
                    <th class="control-label col-md-4 text-center">Description</th>
                    <th class="control-label col-md-1 text-center">Quantity</th>
                    <th class="control-label col-md-1 text-center">Action</th>
                </tr>
            </thead>
            <tbody id="invoiceItemEditorRows" class="">
                @for (int i = 0; i < @Model.Count(); i++)
                {
                    @Html.EditorFor(model => model[i])
                }
            </tbody>
        </table>

        <div class="form-group pull-right">
            <div class="col-md-offset-2 col-md-10">
                <button onclick="onAddItemClick();" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Item</button>
            </div>
        </div>
    </div>
