
@{
    ViewBag.Title = "Contact";
}
<b>
    <h2 align="center">Contact</h2>
</b>
<hr />

<h3>Address</h3>
<h4>R603 UMBUMBULU ROAD</h4>
<h4>SAWPITS AREA,4105</h4>

<h3>Contact Details</h3>
<h4>EMAIL:info@yothingo.co.za / msizi@yothingo.co.za</h4>
<h4>TEL.: +27 763 252 849/ +27 732 195 093 </h4>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5bdc1e588cf925451c51ca4a/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->