
@{
    ViewBag.Title = "Home Page";
}

<h2 style="text-align: center; font-style: italic;">
    <label style="color:#e74c3c;">Welcome</label>
</h2>
<br>


<div style="text-align: center;">
    <h2 style="text-align: center; font-style: italic;">
        <img src="~/Images/Portfolio/maxresdefault (1).jpg" style="width:950px; height:850px">
        <br clear="all"><br clear="all">
        <span style="font-size:48px;">
        </span><br>
    </h2>
    <br>
    <br>
    <br>Thank you for visiting us, your'e here because you require excellent service at the best rates, right? Well we at
    <span style="color:#e74c3c;">Yothingo Refrigeration and Coldroom </span>pride ourselves in being able to provide quality service at the best possible rates. Whether its air-conditioning, commercial refrigeration or heatpumps we've got you covered from start to finish.&nbsp;
    <br>
    <br>We operate throughout the KZN region and have sub-contractors based in all the major metro's in South Africa.&nbsp;
    <br>We operate 24/7/365 so you can be assured of minimal down time
    <br>
    <br>
    <br>Please explore our page and Contact us for a quote, call out or service
    <br>
    <br>
    <span style="color:#e74c3c;">
        <span style="font-size:36px;">CALL US<br>+27 763 252 849/ +27 732 195 093</span>
    </span>
</div>
<h2 style="text-align: center; font-style: italic;">
    <br>
    <br>
    <img width="900" height="547" align="bottom" class="editor_img" style="opacity: 1;" src="~/Images/Portfolio/WhatsApp Image 2018-08-21 at 11.47.44.jpeg" border="0" vspace="4" hspace="4" data-cke-saved-src="images/ph-ha_ac-the-ultimate-air-care-pcv.jpg">
    <br>
</h2>
<p>
    <br>
</p>
<p>
    <br>
    <br clear="all"><br clear="all">
    <br><!--Goodie//--><!--HitCounter//--><hcounter id="id_hcounter">
        <img src="http://sitegalore.swh.mweb.net/swiz/goodies/HitCounter/images/pat7/2.png"><img src="http://sitegalore.swh.mweb.net/swiz/goodies/HitCounter/images/pat7/0.png">
        <img src="http://sitegalore.swh.mweb.net/swiz/goodies/HitCounter/images/pat7/1.png"><img src="http://sitegalore.swh.mweb.net/swiz/goodies/HitCounter/images/pat7/8.png">
    </hcounter><!--HitCounter//--><!--/Goodie//--> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>&nbsp;&nbsp;
    <br>
</p>
<div class="clear"></div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5bdc1e588cf925451c51ca4a/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->