<div class="jumbotron" style="border-color:aqua">
    @{
        ViewBag.Title = "Portfolio";
    }

    <b>
        <h2 align="center">Portfolio</h2>
    </b>
    <hr />
    <a>
        <img src="~/Images/Portfolio/WhatsApp Image 2018-08-21 at 11.47.37.jpeg" alt="Cinque Terre" width="600" height="400">
    </a>



    <div class="responsive">
        <div class="gallery">
            <a>
                <img src="~/Images/Portfolio/WhatsApp Image 2018-08-21 at 11.47.38.jpeg" alt="Cinque Terre" width="600" height="400">
            </a>

        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a>
                <img src="~/Images/Portfolio/WhatsApp Image 2018-08-21 at 11.47.39.jpeg" alt="Cinque Terre" width="600" height="400">
            </a>

        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a>
                <img src="~/Images/Portfolio/WhatsApp Image 2018-08-21 at 11.47.40.jpeg" alt="Cinque Terre" width="600" height="400">
            </a>

        </div>
    </div>

    <div class="clearfix"></div>


</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5bdc1e588cf925451c51ca4a/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->