
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Quotation</h1>
    <h2>
        Request Number: {id}
    </h2>



    <br />
    <table>
        <thead>
            <tr>
                <th>
                    Part ID
                </th>
                <th>
                    Item
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total
                </th>

            </tr>
        </thead>
        <tbody>
            {tbody}
        </tbody>

    </table>


    <h3><b>Date of Order: </b> {date}</h3>
    <h3><b>Total Sales Tax: R</b> {sub}</h3>
    <h3><b>Grand Total: R</b> {grandtot}</h3>


</body>
</html>


