@model YothingoSprint1.Models.Employee

    @if (Model == null)
    {
        <div class="panel panel-danger">
            <div class="panel-body">No Employee Selected!</div>
        </div>
    }
    else
    {
        <div class="panel panel-success">
            <div class="panel-body"> Name: @Model.Fullname</div>
            <div class="panel-body"> Address: @Model.JobTitle</div>

        </div>
    }